.hidden {
  display: none;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

h1 {
  color: rgb(11, 11, 102);
  font-size: 3rem;
}
h2 {
  color: rgb(11, 11, 102);
  font-size: 1.5rem;
}

button {
  background-color: transparent;
  padding: 20px;
  border: 1px solid rgb(11, 11, 102);
  border-radius: 100px;
}
