body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(11, 11, 102);
}

#celebration {
  display: none;
  font-size: 2rem;
  color: #ff8c00;
  animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}
